header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 100px 100px 100px 100px;
  margin: 25px 50px;
  border: 8px solid gray;
  border-radius: 10px;
}

.cell {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 70px;
  height: 95px;
}

#game-over {
  opacity: 50%;
}

#playing {
  opacity: 100%;
}
